body {
    width: 1280px;
    margin: auto;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
}

li+li {
    margin-left: 50px;
}

nav a {

    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}

.photo {
    width: 100%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 48px;
    margin-bottom: 38px;
}

p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.get-btn {
    text-align: center;
    margin-top: 50px;

}

.btn {
    padding: 18px 42px;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;

}

footer {

    margin-top: 82px;
    margin-bottom: 29px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-align: right;
    padding-right: 71px;
}